// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.best_in_place:hover, #user_account .do_hover {
  padding-right: 1.5em;
  background: url(/assets/red_pen.png) no-repeat right;
//  background-color: #CCC;
}

table {
  width: fixed;
  word-wrap: break-word;
}

.sorty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sorty th .asc {
  background-image: url(/assets/up_arrow.gif);
}

.sorty th .desc {
  background-image: url(/assets/down_arrow.gif);
}